:root {
  --primary-text-color: #000000;
  --secondary-text-color: #333333;
  --light-gray-text-color: #828282;
  --title-text-color: #000000;
  --white-text-color: #ffffff;
  --accent-color: #f13c6e;
  --primary-backgraund-color: #efefef;
  --secondary-backgraund-color: #ffffff;
  --border-white-color: #ffffff;
}
