.contacts {
  &--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
  }
  &__tel {
    font-size: 14px;
    margin-right: 8px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      margin-right: 40px;
    }
  }
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: var(--secondary-backgraund-color);
    &--footer {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      justify-content: center;
      @media screen and (min-width: 350px) {
        flex-direction: row;
      }
    }
  }
}
